<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../vaadin-upload/vaadin-upload.html">
<script src="../mock-http-request/lib/mock.js"></script>
<script src="../firebase/firebase.js"></script>

<!--
firebase-upload is an element providing a file upload to your Firebase database. firebase-upload uses [vaadin-upload](https://github.com/vaadin/vaadin-upload). For other than firebase upload use cases, please use [vaadin-upload](https://github.com/vaadin/vaadin-upload).

Example:

    <firebase-upload url="https://<YOUR FIREBASE>.firebaseio.com"></firebase-upload>

@demo
-->
<dom-module id="firebase-upload">

  <style>
    :host {
      display: block;
    }
  </style>

  <template>
    <vaadin-upload accept="[[accept]]" max-files="[[maxFiles]]" max-file-size="[[maxFileSize]]"></vaadin-upload>
  </template>

</dom-module>

<script>
  Polymer({

    is: 'firebase-upload',

    properties: {

      /**
       * Specifies the types of files that the server accepts.
       * Syntax: file_extension|audio/*|video/*|image/*|media_type
       */
      accept: {
        type: String,
        value: ''
      },

      /**
       * Limit of files to upload, by default it is unlimited. If the value is
       * one, nomultiple is true.
       */
       maxFiles: {
         type: Number,
         value: Infinity
       },

      /**
       * Specifies the maximum file size allowed to upload. Default is
       * unlimited.
       */
      maxFileSize: {
        type: Number,
        value: Infinity
      },

      /**
       * Firebase URL. https://<YOUR FIREBASE>.firebaseio.com.
       */
      url: {
        type: String,
        value: ''
      },
    },

    // Element Lifecycle

    ready: function() {
    },

    attached: function() {
      Object.getPrototypeOf(document.createElement('vaadin-upload'))._createXhr = this._uploadFile;
    },

    detached: function() {
    },

    // Element Behavior

    _uploadFile: function(file) {
      var xhr = new MockHttpRequest();
      xhr.upload = {};
      var ready = false;
      xhr.onsend = function() {
        var total = file && file.size ||  1024,
          done = 0;

        function start() {
          setTimeout(progress, 200);
        }

        function progress() {
          xhr.upload.onprogress({
            total: total,
            loaded: done
          });
          if (!ready) {
            setTimeout(progress, 200);
            done = Math.min(total, done + 1016000);
          } else if (!file.abort) {
            if (done < total) {
              done = total;
              setTimeout(progress, 200);
            } else {
              setTimeout(finish, 200);
            }
          }
        }

        function finish() {
          xhr.receive(200, '{"message":"OK"}');
        }
        start();
      };

      var reader = new FileReader();
      var self = this.parentNode;
      reader.onload = (function(f) {
        return function(e) {
          var filePayload = e.target.result;
          new Firebase(
            self.url
          ).push({
            file: filePayload,
            name: f.name
          }, function(a){
            ready = true;
          });
        };
      })(file);
      reader.readAsDataURL(file);
      return xhr;
    },

  });
</script>
